<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
        <li><a href="/propose">Propose Tweet</a></li>
        <li><a href="/vote">Pending Tweets</a></li>
        <li><a href="/logout">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
