<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body class="login">
    <% include partials/topnav.ejs %>

    <div class="main container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">

        </div>
      </div>
    </div>

    <% include partials/footer.ejs %>
  </body>
</html>